@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.slick-prev:before,
.slick-next:before {
	color: black;
	font-family: inherit;
}

.slick-prev::before {
	content: "<";
}

.slick-next::before {
	content: ">";
}
